.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 0.25rem;
  color: oklch(27.4% 0.006 286.033);
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.subheading {
  font-size: 1.2rem;
  max-width: 600px;
}
