.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 1rem;
  max-width: 1400px;
  margin: 0 auto;
}

.poster {
  border-radius: 1.5rem;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.overview {
  font-size: 1.5rem;
  text-align: center;
}

.tag {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin-top: 0.5rem;
  font-size: 1.25rem;
}
